.home-wrapper{
    background: url(../../../images/home-bg.png) no-repeat center center;
    background-size: cover;
    padding: 130px 0px;
    padding-bottom: 0;
    margin-bottom: 50px;
}
.home-wrapper h1{
    font-size: 55px;
    font-weight: 600;
    color:#203047;
    margin-bottom: 25px;
    padding-top: 20px;
}
.home-wrapper p {
    color: #B4B4B4;
    margin-bottom: 30px;
}
.btn-brand{
    background: linear-gradient(to right ,#19D3AE, #0FCFEC);
    border: 0px;
    padding: 12px 25px;
    font-weight: 600;
}